.jumbotron {
    background-image: url("./assets/coffee-banner.jpg");
    background-size: cover;
    /*max-width: 100%;*/
    /*height: auto;*/
    height: 500px;
    padding: 0;
    margin: 0;
    width: 100%;
}

/*.jumbotron > h1 {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    color: black;*/
/*}*/

/*#jumbo-img {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-size: cover;*/
/*}*/

body {
    background-image: url("./assets/beans.jpg");
    background-color: #cccccc;
    max-width: 100%;
    height: auto;
    font-family: 'Share Tech Mono';
}

div {
    color: rgb(239, 213, 184);
    font-family: 'Share Tech Mono';
}

div {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 75px;
    color: #271300;
    width: 100%;
    text-align: center;
    margin: 0;
}

.crd-hdr-style {
    background-color: #7D6E83;
    color: #F8EDE3;
}

.form-cntr {
    background-color: #D0B8A8;
    color: #271300;
}

.card-body {
    display: flex;
}

.card {
    border-color: #7D6E83;
}

.jumbotron p {
    font-family: 'Silkscreen', sans-serif;
    font-size: 15px;
    color: #271300;
    width: 100%;
    text-align: center;
    margin: 0;
}
